body{

}
#nav{
	background-color: #383838;
	color:white;
	text-decoration: none;
	width: 1500px;
}

h2{
	text-align: left;
}
.nav>li {
	display: inline-block;
	background-color: black;
	
	}

.nav>li>a{
	text-decoration: none;
	text-indent: left;
	background-color: black;
	border-color: black;
}

#box {
	background-color: #383838;
	width: 960px;
	height:360px;
	margin-left: 270px;
	margin-right: 270px;
}


#smbox{
	width: 290px;
	height: 180px;
	background-color: #383838;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	margin-right:15px;
}
.smbox{

}